.search{
    padding-top: 10%;
}
.result{
    margin-left: 10%;
   font-size: 30px;
}
.searchResult {

    height: 100%;
    position: relative;
    background-size: cover;
    border-bottom: 2px solid rgba(141, 3, 141, 0.207)
  }
  .searchResult h2 {
    margin-left: 38%;
    font-size: 40px;
    position: absolute;
    border-bottom: 3px solid #8127bc;
    cursor: pointer;
    font-family: 'CustomFont1', sans-serif;
    
  }
  
  .searchResultList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
  }
  
  .dinnerCardImg {
    height: 250px;
  }
  .dinnerCard {
    margin: 90px 0px 20px 0px;
    width: 1300px;
    text-align: center;
    cursor: pointer;
  }
  
  .dinnerCard:hover {
    box-shadow: 3px 3px 8px #4f1b72;
  }
  .dinnerTime h2 i {
    color: #8127bc;
  }
  
  
  .dinnerTime h2:hover {
    border-bottom: 3px solid #fbd67c;
  }
  .cuisine{
    color: rgb(92, 4, 92);
    font-weight: 500;
  }
  .cardTexte{
    height:150px;
  }